{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h1>Hi {{ current_user.name }}! Your ID is {{ current_user.id }}. You belong to this company: {{ current_user.business.name }}.</h1>
{% endif %}
<ul>
    {% for business in businesses %}
    <li><h3>Business Name: {{ business.name }}</h3></li>
    Users:
    <ul>
        {% for user in business.users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{{ calendar }}
<br><br><br>To log out, click <a href="/logout">here</a>.
{% endblock %}