<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h2>Login Page</h2>
<form method="post">
    <input type="text" placeholder="username" name="username" tabindex=0 autofocus />
    <button type="submit">Create User</button>
</form>

<h3>Current Users:</h3>
<ul>
    {% for user in users %}
    <li>{{ user.name }} (Password: {{ user.password }})</li>
    {% endfor %}
</ul>
</body>
</html>