{% extends "business/layout.html" %}
{% block content2 %}
<!--button-->
<div class='container'>
    <h3>Test</h3>
        <form>
            <button id=input>Test</button>
            <span id="output">Test Zone</span>
        </form>

</div>

<script type=text/javascript>
<!--
var output;
var input;
output = document.getElementById("output");
input = document.getElementById("input");
input.addEventListener("click", getJSON);

function getJSON (event) {
    "use strict";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        // console.log(xhttp);
        if (xhttp.readyState === 4 && xhttp.status === 200) {
            if (xhttp.getResponseHeader("Content-Type") === "application/json") {
                var response = JSON.parse(xhttp.responseText);
                output.innerHTML = response.data;
                console.log(response);
            } else {
                console.log("Did not return valid JSON data from python");
                console.log(xhttp.responseText);
            }
        }
    };
    xhttp.open("GET", "/handle_ajax_request", true);
    xhttp.send();

    // For normal event suppression.
    event.preventDefault();
    // Extra event suppression
    event.stopPropagation();
    // For form submit suppression
    return false;
}
-->
</script>

{% endblock %}
