{% extends "layout.html" %}
{% block content %}
    <form method="POST" accept-charset="UTF-8" role="form">
      <!-- LoginForm -->
      {{ form.csrf_token }}
      {{ render_field(form.email, placeholder="Your Email Address", autofocus="") }}
      {{ render_field(form.password, placeholder="Password") }}
      <div>
      <label>
        <input type="checkbox" name="remember" value="1"> Remember Me
      </label>
      <br><a role="button" href="/">New user? Create account here.</a><span class="clearfix"></span>
      </div>
      <button type="submit" name="submit">Sign in</button>
    </form>
  </div>
</div>
  {% endblock %}