{% extends "layout.html" %}
{% block content %}
<div>
  <div>
    <div class="testing">HELLO</div>
    <legend>Try JaChang for Free!</legend>
    <form method="POST" accept-charset="UTF-8" role="form">
      <!-- LoginForm -->
      {{ form.csrf_token }}
      {{ render_field(form.name, placeholder="Your Name", autofocus="") }}
      {{ render_field(form.business, placeholder="Your Business Name") }}
      {{ render_field(form.email, placeholder="Your Email") }}
      <div>
      <label>
        <input type="checkbox" name="terms" value="1"> Yes I agree to the terms.
      </label>
      <br><a role="button" href="/login">Already have an account?</a><span class="clearfix"></span>
      </div>
      <button type="submit" name="submit">Get Started Now</button>
    </form>
  </div>
</div>
  {% endblock %}