{% extends "layout.html" %}
{% block content %}
Try JaChang for Free!
<form method="POST" accept-charset="UTF-8" role="form">
  <!-- LoginForm -->
  {{ form.csrf_token }}
  {{ render_field(form.name, placeholder="Your Name", autofocus="") }}
  {{ render_field(form.business, placeholder="Your Business Name") }}
  {{ render_field(form.email, placeholder="Your Email") }}
  <input type="checkbox" name="terms" value="1"> Yes I agree to the terms.
  <br><a role="button" href="/login">Already have an account?</a>
  <br><br><button type="submit">Get Started Now</button>
</form>
{% endblock %}