{% extends "layout.html" %}
{% block content %}

<div>
  <div>
    <legend>Create account</legend>
    <form method="POST" action="." accept-charset="UTF-8" role="form">
      <!-- LoginForm -->
      {{ form.csrf_token }}
      {{ render_field(form.email, placeholder="Email Address", autofocus="") }}
      {{ render_field(form.password, placeholder="Password") }}
      {{ render_field(form.confirmation, placeholder="Repeat Password") }}
      <div>
      <label>
        <input type="checkbox" name="remember" value="1"> Remember Me
      </label>
      <a role="button" href="/signin">Already have an account?</a><span class="clearfix"></span>
      </div>
      <button type="submit" name="submit">Sign in</button>
    </form>
  </div>
</div>
  {% endblock %}