{% extends "layout.html" %}
{% block content %}
<div class="index-navbar">
    <div class="index-nav-left">
        <li class="home"><a href="{{ url_for('home') }}">Home</a></li>
        <li class="tutorials"><a href="{{ url_for('features') }}">Features</a></li>
        <li class="news"><a href="{{ url_for('about') }}">About Us</a></li>
        <li class="contact"><a href="{{ url_for('contact') }}">Contact</a></li>
    </div>
    <div class="index-nav-right">
        <li class="news"><a href="{{ url_for('login') }}">Login</a></li>
        <li class="contact"><a href="{{ url_for('register_user') }}">Sign Up</a></li>
    </div>
</div>
<div style="clear:both;"></div><br><br><br>

{% block content2 %}
{% endblock %}

{% endblock %}
