{% extends "business/layout.html" %}
{% block content2 %}
Add a new service to your business
<form method="POST" action="." accept-charset="UTF-8" role="form">
    <!-- LoginForm -->
    {{ form.csrf_token }}
    {{ render_field(form.name, placeholder="Service Name", autofocus="") }}
    {{ render_field(form.availability, placeholder="Availability (currently broken)") }}
    {{ render_field(form.cost, placeholder="Cost in dollars") }}
    {{ render_field(form.length, placeholder="Length in minutes") }}
    Deposit Required: {{ render_field(form.deposit, placeholder="Deposit Required") }}
    {% if current_user.is_owner %}
    Available at all locations (if not chosen, it will only be available at your {{ location.name }} location:
    *Note: This option is only displaying because you are the owner of the business*
    {{ render_field(form.locations, placeholder="Locations") }}
    {% endif %}
    <br>
    <button type="submit" name="submit">Submit</button>
</form>
<br>
<a href="{{ url_for('business_service') }}">Return</a> to services list.
{% endblock %}