{% extends "business/layout.html" %}
{% block content2 %}

<div style="border:dotted;width:600px;overflow:auto;float:left;padding:15px;">
    <a href="{{ custom_calendar.month_toggle('down', location_id) }}">PREVIOUS MONTH</a>
    <a href="{{ custom_calendar.return_to_today(location_id) }}" style="margin-left:120px;">GO TO TODAY</a>
    <a href="{{ custom_calendar.month_toggle('up', location_id) }}" style="float:right;">NEXT MONTH</a>
    <div style="margin-left:300px;font-weight:bold;font-size:25px;"><h1>{{ custom_calendar.month_name() }}</h1></div>
    <table style="text-align:center;width:400px;height:300px;margin:auto;margin-top:25px;">
        <tr>
            <th style="font-weight:bold;">M</th>
            <th style="font-weight:bold;">T</th>
            <th style="font-weight:bold;">W</th>
            <th style="font-weight:bold;">T</th>
            <th style="font-weight:bold;">F</th>
            <th style="font-weight:bold;">S</th>
            <th style="font-weight:bold;">S</th>
        </tr>
        {% for row in calendar_month %}
        <tr>
            {% for day in row %}
            <td>{% if day != 0 %}<a href="{{ url_for('business_calendar', location_id=location_id, year=year, month=month, day=day) }}">{{ day }}</a>{% else %}-{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div style="border:dotted;width:300px;height:auto;margin-left:35px;margin-top:35px;float:left;padding:15px;">
    {% if day == 0 %}Choose a day to adjust availability.{% else %}Your availability on <span style="font-weight:bold;">{{ day }}/{{ month }}/{{ year }}</span>, is...{% endif %}
    <br><br>Employees of this location:
    <ul>
        {% for employee in current_user.business.get_employees() %}
        <li style="font-weight:bold;">
            {% if employee.is_owner %}(Owner){% else %}(Employee){% endif %} Name: <a href="{{ url_for('employee_profile', business_id=current_user.business.id, employee_id=employee.id) }}">{{ employee.name }}</a></li>
        {% endfor %}
    </ul>
    <br><br>Locations:
    <ul>
        {% for location in current_user.business.locations %}
        {% if location.id == location_id %}
            <li style="font-weight:bold;">
        {% else %}
            <li>
        {% endif %}
        <a href="{{ url_for('business_calendar', location_id=location.id, year=2018, month=6, day=20) }}">{{ location.name }}</a>
        {% if current_user.is_owner %}
        <a class="edit-button" href="{{ url_for('edit_location', location_id=location.id) }}">Edit</a>
        {% endif %}
    </li>
        {% else %}
        None
        {% endfor %}
    </ul>
</div>


<div style="clear:both;"></div>
<br><br><br>To have a client book an appoint, send them link <a href="{{ current_user.business.get_client_link() }}">this</a> link.
<br><br><br>To have an employee register an account with your business, send them <a href="{{ current_user.business.get_employee_link() }}">this</a> link.
<div style="clear:both;"></div>
{# <!--
<br>For testing purposes:<br>
{{ custom_calendar }}
--> #}
{% endblock %}
