{% extends "business/layout.html" %}
{% block content2 %}
{% if current_user.is_authenticated and current_user.is_owner %}
<a class="edit-button" href="{{ url_for('edit_client', client_id=client.id) }}">Edit Client</a>
{% endif %}
<ul>
    <li>Name: {{ client.name }}</li>
    <li>Email: {{ client.email }}</li>
    <li>Phone Number: {{ client.phone }}</li>
    <li>Contact Method: {{ client.contact_method }}</li>
    <li>Number of Appointments: {{ client.appointments|length }}</li>
    <li>List of Appointments:
        <ul>
            {% for appointment in client.appointments %}
            <li>{{ appointment }} - {{ appointment.service }}</li>
            {% endfor %}
        </ul>
    <li>Client ID: {{ client.id }}</li>
    {% for upload in client_uploads %}
    <li>Consent Form: <img src="{{ upload }}" style="border:dotted;"/></li>
    {% endfor %}
</ul>
<form method="POST" enctype=multipart/form-data role="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<br>
<a href="{{ url_for('clients') }}">Return</a> to client list.
{% endblock %}


