{% extends "business/layout.html" %}
{% block content2 %}
<a href="{{ url_for('register_client') }}" style="padding-right:75px;"><button>Add new client</button></a>
<input type="text" placeholder="Search for client"><button style="margin-left:25px;">Search</button>

<div style="border:dotted;width:auto;height:auto;margin-left:35px;margin-top:35px;float:left;padding:15px;">
    <ul>
        {% for client in current_user.business.clients %}
        <li style="font-weight:bold;">
            <a href="{{ url_for('client_profile', business_id=current_user.business.id, client_id=client.id) }}">{{ client.name }}</a>
        </li>
        <li>
            {{ client.phone }}
        </li>
        <li>
            {{ client.email }}
        </li>
        {% else %}
        None
        {% endfor %}
    </ul>
</div>

{% endblock %}
