{% extends "layout.html" %}
{% block content %}
<h1>Currently logged in as <span style="font-weight:bold;">{{ current_user.name }}</span> (ID: {{ current_user.id }})!</h1>
<h1 style="text-align:center;font-size:30px;font-weight:bold;">{{ current_user.business.name }}</h1>
<div style="border:dotted;width:600px;overflow:auto;margin-left:35px;margin-top:35px;float:left;padding:15px;">
    <a href="{{ custom_calendar.month_toggle('down') }}">PREVIOUS</a>
    <a href="{{ custom_calendar.month_toggle('up') }}" style="float:right;">NEXT</a>
    <div style="margin-left:300px;font-weight:bold;font-size:25px;"><h1>{{ custom_calendar.month_name() }}</h1></div>
    <table style="text-align:center;width:400px;height:300px;margin:auto;margin-top:25px;">
        <tr>
            <th style="font-weight:bold;">M</th>
            <th style="font-weight:bold;">T</th>
            <th style="font-weight:bold;">W</th>
            <th style="font-weight:bold;">T</th>
            <th style="font-weight:bold;">F</th>
            <th style="font-weight:bold;">S</th>
            <th style="font-weight:bold;">S</th>
        </tr>
        {% for row in calendar_month %}
        <tr>
            {% for day in row %}
            <td>{% if day != 0 %}<a href="{{ url_for('business_profile', year=year, month=month, day=day) }}">{{ day }}</a>{% else %}-{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div style="border:dotted;width:auto;height:auto;margin-left:35px;margin-top:35px;float:left;padding:15px;">
    {% if day == 0 %}Choose a day to adjust availability.{% else %}Your availability on <span style="font-weight:bold;">{{ day }}/{{ month }}/{{ year }}</span>, is...{% endif %}
    <br><br>Employees of this business:
    <ul>
        {% for employee in current_user.business.get_employees() %}
        <li style="font-weight:bold;">
            {% if employee.is_admin %}(Owner){% else %}(Employee){% endif %} Name: <a href="{{ url_for('employee_profile', business_id=current_user.business.id, employee_id=employee.id) }}">{{ employee.name }}</a></li>
        {% endfor %}
    </ul>
    <br><br>Registered appointments of this business:
    <ul>
        {% for appointment in current_user.business.appointments %}
        <li style="font-weight:bold;">{{ appointment }}</li>
        {% else %}
        None
        {% endfor %}
    </ul>
    <br><br>Registered clients of this business:
    <ul>
        {% for client in current_user.business.clients %}
        <li style="font-weight:bold;">Name: <a href="{{ url_for('client_profile', business_id=current_user.business.id, client_id=client.id) }}">{{ client.name }}</a> / Email: {{ client.email }}</li>
        {% else %}
        None
        {% endfor %}
    </ul>
</div>


<div style="clear:both;"></div>
<br><br><br>To have a client book an appoint, send them link <a href="{{ current_user.business.get_client_link() }}">this</a> link.
<br><br><br>To have an employee register an account with your business, send them <a href="{{ current_user.business.get_employee_link() }}">this</a> link.
<br><br><a href="{{ url_for('logout') }}">Logout</a>
<div style="clear:both;"></div>
For testing purposes:<br>
{{ custom_calendar }}
{% endblock %}
