{% extends "layout.html" %}
{% block content %}

{% set location_id = 1 %}

{% if not current_user.is_verified %}
<h1>*Your account is not yet verified. Click <a href="{{ current_user.get_verification_link() }}">here</a> to verify
    your account*</h1>
{% endif %}

<div style="border:dotted;width:300px;min-height:300px;margin-top:35px;float:left;margin-right:50px;">
    <ul>
        <li><a href="{{ url_for('business_calendar') }}">Calendar</a></li>
        <li><a href="{{ url_for('clients', business_id=current_user.business.id) }}">Clients</a></li>
        <li><a href="{{ url_for('business_activity', location_id=location_id) }}">Activity</a></li>
        <li><a href="{{ url_for('business_booking', location_id=location_id) }}">Book New Appointment</a></li>
        <li><a href="{{ url_for('business_payment') }}">Request Payment</a></li>
        <li><a href="{{ url_for('business_service') }}">Services</a></li>
        <li><a href="{{ url_for('edit_store_hours') }}">Edit Store Hours</a></li>
        <li><a href="{{ url_for('edit_employee_availability') }}">Edit Employee Hours</a></li>
    </ul>
    <br>
    <ul style="border:solid;border-color:blue;">
        <li style="font-weight:bold;">
            Today's Appointments:
        </li>
        <br>
        {% for appointment in current_user.business.get_todays_appointments() %}
        <li style="font-weight:bold;">{{ appointment.date.time() }}-{{ appointment.get_end_time() }}</li>
        <li style="margin-left:15px;">
            {{ appointment.service }}
            {% if appointment.client.email != "anonymous@hidden.com" %}
            for
            <a href="{{ url_for('edit_client', client_id=appointment.client.id) }}">
                {{ appointment.client.name }}
            </a>
            {% endif %}
        </li>
        {% else %}
        <li style="font-weight:bold;">
            No appointments scheduled for today
        </li>
        {% endfor %}
        <br>
        <li style="font-weight:bold;">Your store's current opening hours:</li>
        <ul>
        {% for hour in current_user.location.hours %}
        <li>
            {{ hour.display(loop.index, hour.closed) }}
        </li>
        {% endfor %}
        </ul>
    </ul>
</div>

{% block content2 %}
{% endblock %}

{% if current_user.is_authenticated %}
<div style="clear:both;"></div>
<br><br><a href="{{ url_for('logout') }}">Logout</a>
{% endif %}

{% endblock %}