.button {
    width: 60px;
    height: 40px;
}

.flashes {      /* Flash messages */
    font-size: 25px;
}

.flash-error {      /* Flash error-messages */
    color: red;
}

.flash-notice {      /* Flash notice-messages */
    color: blue;
}

.edit-button {
    background-color: lightgray; /* Green */
    border: none;
    color: black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: gray;
    display: inline-block;
    font-size: 16px;
}

.submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-color: black;
    display: inline-block;
    font-size: 16px;
}

/* Start of real */
.index-navbar {     /* The main page navigation bar */
    border-bottom: 1px dotted #888;
    height: 50px;
}

.index-navbar li {     /* The main page navigation bar */
     font-family: 'Oswald', sans-serif;
     font-size: 1.2em;
     display: inline-block;
     margin: 4px 15px 4px 15px;
     line-height: 50px;     /* Needs to be equal to the 'height' of the index-navbar to vertically align */
}

.index-nav-left {     /* The main page navigation bar */
    margin-left: 125px;
    float: left;
}

.index-nav-right {    /* The login/signup boxes */
    margin-right: 150px;
    float: right;
}

.index-nav-left a {     /* The main page navigation bar */
    text-decoration: none;     /* Removes underline from links */
}

.index-nav-right a {    /* The login/signup boxes */
    text-decoration: none;     /* Removes underline from links */
    background: green;   /* Changes background color of boxes */
    color: white;   /* Changes text color of boxes */
    padding: 5px 10px 5px 10px;   /* Changes size of boxes */
    border-radius: 5px;    /* Rounds the corners of the boxes */
}

.index-body {
    margin-left: 50px;
}

.index-body h1 {
    font-size: 35px;
}

.index-body h2 {
    font-size: 25px;
}

.selected-text {
    color:blue;
    font-weight: bold;
}

a.selected-button {
    background: orange;
    font-weight: bold;
}